.menu-header {
   display: flex;
   flex-direction: column;
   width: 80%;
   align-items: center;
   margin: 0 auto;
   margin-top: 100px;
}
.menu-header h1 {
   color: rgb(192, 35, 87);
}

.menu-header p {
   width: 65%;
   text-align: center;
   color: gray;
}

.items-container {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 80%;
   margin-top: 70px;
}

.item img {
   width: 350px;
   height: 250px;
   border-radius: 10px;
}

.item #name {
   font-weight: 600;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.item #price {
   font-size: 25px;
   font-weight: 600;
   color: rgb(168, 10, 63);
}

.item #desc {
   color: gray;
   font-weight: 500;
   margin-top: -10px;
   font-size: 14px;
}

.item button {
   background-color: transparent;
   height: 35px;
   width: 120px;
   font-size: 15px;
   border: 1px solid black;
   background-color: rgb(168, 10, 63);
   color: white;
   cursor: pointer;
   border-radius: 5px;
   transition: 0.2s ease-in-out;
}
.item button:active {
   transform: scale(0.9);
}
.item button:hover {
   /* border: 3px solid black; */
   border: 3px solid rgb(192, 35, 87);
   color: rgb(192, 35, 87);
   background-color: transparent;
   font-size: 17px;
}

.menu {
   margin-bottom: 100px;
}

.items-details {
   margin-left: 15px;
}

.pricing-cont {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.pricing-cont p {
   margin-right: 50px;
}
